/* For this assignment, there are some general requirements but the design is up to you! This is your chance to be creative and transform your webpage into a reflection of who you are.

 [X] Change the background color of the page body
 [X] Change the default text color
 [X] Customize the font family
(Optional) Load in a font family from Google Fonts
 [X] Add spacing (padding/margin) between sections
 [X] Change the font size, weight, and color of all headings
 [] Transform the "Experience" list items into styled blocks
 [] Transform the "Skills" list items into styled blocks
 [] Style the "Leave a Message" form elements
[X] Change font size and color of labels
[] Change font size, padding, border, etc. of inputs and textarea
[] Add spacing (padding/margin) between form fields
[] Change padding, background color, border, etc. of submit button
 [] Transform the "Messages" list items into styled blocks and customize the button(s)
 [] Change the spacing and background color of the footer
 [X] Use Media Queries to make sure the webpage is responsive for all device sizes (mobile, tablet, desktop, etc.) */

 :root {
    /* // these are variables to use throughout the styling, rather than type the whole color schema */
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
  }

body {
    /* Adjust the elements according to screen size */
    background: url(/img/project2.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: azure;
    }


section {
    padding: 20px;
    margin: 5px;
}

h1 {
      background-color: lightblue;
      border-style: solid;
      border-width: medium;
    /* Make the h1 round and center the text   */
      border-radius: 25px;
      text-align: center;
      font-size: large;
      font-weight: bolder;
      color: orange;
    }
h2 {
  background-color: lightblue;
      border-style: solid;
      border-width: medium;
      border-radius: 25px;
      text-align: center;
}


/* li {

} */


/* make the social links round and no bullet point */
ul.social {
    list-style-type: none;
    width: auto;
    /* border-style: solid; - Creates the border outside the dot, I want each individial dot
    Solve by adding id to each li element*/
}

#social-link {
    border-style: solid;
    border-radius: 25px;
    border-color: lightblue;
    width: 150px;
    padding: 5px;
    margin: 5px;
    text-justify: auto;
    text-align: center;
    /* I would like to change the text of the link, but I think that will be an id for the a tag */
}

#footer {
  text-align: center;
  padding: 2px;
  border-top: white solid;
  /* border-style: solid; <- this helps visualize where in the html the element is located*/
}

form {
/* Center the form on the page */
    margin: 0 auto;
    width: auto;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    /* changing bg color here changes the social links */
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
margin-top: 1em;
}

label {
/* Uniform size & alignment */
color: black;
display: inline-block;
width: 90px;
text-align: right;
font-size: medium;
}

input,
textarea {
/* To make sure that all text fields have the same font settings
   By default, textareas have a monospace font */
font: 1em sans-serif;

/* Uniform text field size */
width: 300px;
box-sizing: border-box;

/* Match form field borders */
border: 1px solid #999;

margin: 2px;
padding: 5px;
}

input:focus,
textarea:focus {
/* Additional highlight for focused elements */
border-color: #000;
}

textarea {
/* Align multiline text fields with their labels */
vertical-align: top;

/* Provide space to type some text */
height: 5em;
}

.button {
/* Align buttons with the text fields */
padding-left: 90px; /* same size as the label elements */
}

button {
/* This extra margin represent roughly the same space as the space
   between the labels and their text fields */
margin-left: 0.5em;
background-color: orange;
}

.controls {
    position: relative;
    z-index: 10;
    top: 8%;
    display: flex;
    /* change the flex direction to row */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

}
/* // inner control class, */
.control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    /* The width and the height changes how big the cirlce will be  */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 50px;
    box-shadow: var(--box-shadow-1);
}