body {
    /*   background-image: url("https://unsplash.com/photos/qCrKTET_09o"); */
      height: 400px;
      width: 600px;
      margin: 25px 25px;
      background-color: gray;
    }

h1 {
      background-color: lightblue;
      border-style: solid;
      border-width: medium;
    /* Make the h1 round and center the text   */
      border-radius: 25px;
      text-align: center;
    }

/* make the social links round and no bullet point */
ul.social {
    list-style-type: none;
    width: auto;
    /* border-style: solid; - Creates the border outside the dot, I want each individial dot
    Solve by adding id to each li element*/
}

#social-link {
    border-style: solid;
    border-radius: 25px;
    border-color: lightblue;
    width: 150px;
    padding: 5px;
    margin: 5px;
    text-justify: auto;
    text-align: center;
    /* I would like to change the text of the link, but I think that will be an id for the a tag */
}